.quote {
  height: auto;
  width: auto;
  position: relative;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bb9d77c9;
  border: 3px groove #3a2316;
  border-radius: 10px;
  margin: 0 2rem 0 2rem;
  font-size: 1.5rem;
}
.sig {
  width: 20rem;
  height: auto;
}
